[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/Ultimate-Ubuntu-Mate-16.04: Automatic installation of all necessary programs
Type=Link
URL=https://github.com/erikdubois/Ultimate-Ubuntu-Mate-16.04
Icon=mate-fs-bookmark
